<div id="product_filterrific_results">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Short Descript. </th>
        <th> Full Descript. </th>
        <th> Price </th>
        <th> Brand </th>
        <th> Category </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% products.each do |product| %>
      <tr>
        <td> <%= product.id %> </td>
        <td> <%= product.name %> </td>
        <td> <%= product.desc1 %> </td>
        <td> <%= product.desc2 %> </td>
        <td> <%= product.price %> </td>
        <td> <%= product.brand.name %> </td>
        <td> <%= product.category.name %> </td>
        <td> <%= link_to product_management_path(product), class: "btn btn-sm btn-default" do %> <i class="fa fa-search"></i> <% end %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="row row-cols-1 row-cols-md-4 g-4">
  </div>

  <div class="text-center mt-4">
    <%= paginate products, remote: true %>
    <%= page_entries_info products %>
  </div>
</div>