<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Total price</th>
      <th> Quantity of products </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @orders.blank? %>
    <tr>
      <td colspan="4" class="text-center">
        <h3> No purchases so far </h3>
      </td>
    </tr>
    <% end %>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.email %></td>
        <td><%= order.total_price %></td>
        <td><%= order.order_products&.size %></td>
        <td><%= link_to 'Show', order, class: "btn btn-primary text-light" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
